
<div class="jumbotron">
  <h1 align="centter" class="display-4"><marquee>To Do Application</marquee></h1>
  
  <p class="lead">
   <%= link_to 'Login', new_user_session_path, :class => "btn btn-primary" %>
   <%= link_to 'Sign up', new_user_registration_path, :class => "btn btn-primary" %>
  </p>
</div>
